<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>720326957322-76jcs4mhdvhn74fuit8d79f6k5jko1as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720326957322-76jcs4mhdvhn74fuit8d79f6k5jko1as</string>
	<key>API_KEY</key>
	<string>AIzaSyBSc0YzmtcJ9AAkmd1qZilvxmL2wnOkCOo</string>
	<key>GCM_SENDER_ID</key>
	<string>720326957322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.jasonlai.PhotoManager</string>
	<key>PROJECT_ID</key>
	<string>photomanager-c5894</string>
	<key>STORAGE_BUCKET</key>
	<string>photomanager-c5894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720326957322:ios:dd43b188f9258601</string>
	<key>DATABASE_URL</key>
	<string>https://photomanager-c5894.firebaseio.com</string>
</dict>
</plist>